@import './styles/_variables';

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: currentColor;
  box-sizing: border-box;
}

$theme-colors: (
  'primary': $color-primary,
  'secondary': $color-secondary,
  'error': $color-error,
  'danger': $color-error,
  'success': $color-success,
);

@import 'node_modules/bootstrap/scss/bootstrap';

h1 {
  font-family: 'GFS Didot', serif;
  font-family: 'Great Vibes', cursive;
  margin-bottom: 0;
}

.navbar-header {
  margin: 0.5rem 2rem 0.5rem 0;
}

.btn-success {
  color: white;
}
